.welcomeBox {
  display: block;
  flex-direction: column;
  text-align: center;
  margin-top:;
  padding: 15px 0 15px 0;
  color: #5AE1F0;
  background-color: black;
  width: 70%;
  margin-left: 15%;
  border-radius: 50px;
}

.welcomeButton {
  display: block;
  border: 1px solid blue;
  background: white;
  max-width: 200px;
  margin: auto;
  margin-top: 50px;
  font-size: 2.5em;
  text-align: center;
  color: #DCA117;
  background: url('../Static/img/wood.jpg');
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50px;
}
