.workout {
  padding:15px 15px 200px 34px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  width: 60%;
  font-family: 'Alegreya', serif;
  font-size: 1.4em;
  color: #222;
  background-color: #eed;
  border-radius: 3px;
  box-shadow: 43x 3px 2px #333;
  opacity: 1;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeOut { from { opactiy:0.8; } to { opacity:0; } }

.fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.1s;
}

.workoutContent{
  float:left;
}

.test {
  padding: 5px 5px 5px;
  margin: 10px;
}

.editbtn {
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 0.7em;
    margin-right: 10px;
}

.deletebtn {
  padding: -5px -5px 1px 1px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  font-size: 0.7em;
}
