.headerBar {
  display: flex;
  color: #F4B350;
  /*flex: 1 1 5%;*/
  flex-direction: row;
  height: 6em;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
  justify-content: space-between;
}

.workoutsHeader {
  flex-grow: 6;
  font-size: 3em;
  color: #F4B350;
  font-family: 'Merriweather', serif;
  margin: auto 10px;
}

.userInfo {
  font-size: 1.4em;
  display: flex;
  flex-grow: 6;
  align-items: center;
}

.headerButtonGroup {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.headerButton {
  font-size: 2em;
  background-color: #F4B350;
  text-shadow: 1px 1px 1px #4d2600;
  border: 1px solid #4d2600;
  border-radius: 5%;
  padding: 7px;
}

.headerButton2 {
  font-size: 2em;
  background-color: #ABB2B5;
  text-shadow: 1px 1px 1px #4d2600;
  border: 1px solid #4d2600;
  border-radius: 5%;
  padding: 7px;
}

.headerButton:hover {
  background-color: #d8870e;
  cursor:pointer;
}

.headerButton2:hover {
  background-color: #827F7F;
  cursor:pointer;
}
