.workoutsHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.9em;
  max-height: 2em;
  font-size: 2em;
  color: #F4B350;
  font-family: 'Merriweather', serif;
  padding: 5px 0px 20px 0px;
  margin-bottom: 6px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 3px 3px 10px #000;
}

.headerButtonGroup {
  margin-left: 600px;
}

.headerButton {
  font-size: 0.7em;
  background-color: #F4B350;
  text-shadow: 1px 1px 1px #4d2600;
  border: 1px solid #4d2600;
  border-radius: 5%;
  padding: 10px 15px 0 15px;
  margin-right: 20px;
  margin-top: 10px;
}

.headerButton2 {
  font-size: 0.7em;
  background-color: #ABB2B5;
  text-shadow: 1px 1px 1px #4d2600;
  border: 1px solid #4d2600;
  border-radius: 5%;
  padding: 10px 15px 0 15px;
  margin-top: 10px;
}

.headerButton:hover {
  background-color: #d8870e;
  cursor:pointer;
}

.headerButton2:hover {
  background-color: #827F7F;
  cursor:pointer;
}
